{% extends 'login.html' %}

{% block content %}
  <div class="timeline">
    <form id="join-form" action="/auth/join" method="post">
      <div class="container">
        <label for="join-email"><b>이메일</b></label>
        <input type="join-email" placeholder="Enter Username" name="email">
      
        <label for="join-nick"><b>닉네임</b></label>
        <input type="join-nick" placeholder="Enter Nickname" name="nick">
      
        <label for="join-password"><b>비밀번호</b></label>
        <input type="join-password" placeholder="Enter Password" name="password">
    
        <button id="join-btn" type="submit" class="btn">회원가입</button>
    </div>
    </form>
  </div>
{% endblock %}