<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/style.css">
    <title>YouTube</title>
</head>
<body>
    <!--헤더-->
    <header>
        <div class="logo">
            <i class="fab fa-youtube"></i>
            <span class="title">YouTube</span>
        </div>
        <div class="searchbar">
            <input type="text">
            <input type="submit" value="&#xf002;">
        </div>
        <div class="login">
            <button id="loginbutton">로그인</button>
        </div>
    </header>
    <!--비디오-->
    <section class="player">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/v7bnOxV4jAc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    <!--비디오에 대한 정보-->
    <section class="info">
        <div class="hashtag">
            <ul class="hashtags">
                <li>#역대급</li>
                <li>#3시간</li>
                <li>#플레이리스트</li>
            </ul>
        </div>
        <div class="title">
            <span class="videotitle">[playlist] 라일락</span>
        </div>
        <div class="action">
            <ul class="actionbutton">
                <li><button class="youtubebutton"><span>좋아요</span></button></li>
                <li><button class="youtubebutton"><span>싫어요</span></button></li>
                <li><button class="youtubebutton"><span>공유</span></button></li>
                <li><button class="youtubebutton"><span>저장</span></button></li>
                <li><button class="youtubebutton"><span>...</span></button></li>
            </ul>
        </div>
        <hr class="one"> 
        <div class="channel">
            <div class="channelimg">
                <img src="" alt="">
            </div>
            <div class="channeltitle">
                <span class="name">듣고 싶은 노래</span>
                <span class="subscribe">1M subcribers</span>
            </div>
        </div>
    </section>
    <!--다음 비디오-->
    <section class="next">
        <ul>
            <li class="item">
                <img src="" alt="">
                <div class="nextinfo">
                    <span class="nexttitlename">playlist1</span>
                    <span class="nextname">듣고 싶은 노래</span>
                    <span class="nextview">조회수 6.5만회</span>
                </div>
                <button class="morebutton"></button>
            </li>
            <li class="item">
                <img src="" alt="">
                <div class="nextinfo">
                    <span class="nexttitlename">playlist2</span>
                    <span class="nextname">듣고 싶은 노래</span>
                    <span class="nextview">조회수 5.8만회</span>
                </div>
                <button class="morebutton"></button>
            </li>
        </ul>
    </section>
</body>
</html>